<h1>Beer Pairings</h1>

<%= form_for :style, url: find_path(@style), method: "get" do |f| %>

  <div class="form-inputs">
    <%= f.select :style, options_for_select(@style_list) %>
  </div>

  <div class="form-actions">
    <%= f.submit "Search parings" %>
  </div>
<% end %>
